html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }
  
  body {
    background-color: #f0f0f0;
  }
  
  canvas, #webgl {
    display: block;
    width: 100vw;
    height: 100vh;
  }
  